# DML Commands
#### INSERT, UPDATE, DELETE, MERGE

In [1]:
import mysql
from mysql import connector
from mysql.connector import connect

In [2]:
mydb = connect(
  host="localhost",
  user="vikram",
  password="123"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001550EC53B80>

In [3]:
myCursor = mydb.cursor()

In [5]:
# myCursor.execute("DROP DATABASE DML_database_2_py")

In [6]:
myCursor.execute("CREATE DATABASE DML_database_2_py")

In [7]:
myCursor.execute("SHOW DATABASES")

for x in myCursor:
  print(x)

('chinook',)
('company',)
('db',)
('ddl_database_1',)
('ddl_database_1_py',)
('dml_database_2',)
('dml_database_2_py',)
('giraffe',)
('hr',)
('hr_emp',)
('information_schema',)
('lion',)
('mydb',)
('mysql',)
('oracle',)
('orders',)
('performance_schema',)
('smapledatabase',)
('sys',)

##### Connecting To Database

In [8]:
DML_database_2_py = connect(  
                                host="localhost",
                                user="vikram",
                                password="123",
                                database="DML_database_2_py"
    )
DML_2_py = DML_database_2_py.cursor()

##### Creating database

In [9]:
wrt_str = """
CREATE TABLE employees(
    employee_id INT, 
    first_name VARCHAR(20),
      last_name VARCHAR(20),
      country VARCHAR(20),
      salary INT);
      """

In [10]:
DML_2_py.execute(wrt_str)
DML_2_py.execute("SHOW TABLES")
for x in DML_2_py:
    print(x)

('employees',)

In [11]:
DML_2_py.execute("DESCRIBE EMPLOYEES")
for x in DML_2_py:
    print(x)

('employee_id', b'int', 'YES', '', None, '')
('first_name', b'varchar(20)', 'YES', '', None, '')
('last_name', b'varchar(20)', 'YES', '', None, '')
('country', b'varchar(20)', 'YES', '', None, '')
('salary', b'int', 'YES', '', None, '')

#### INSERT

In [12]:
insrt_vals = """
INSERT INTO employees 
VALUES  
(1, "Vikram", "Reddy", "India", 100000),
(2, "Manji", "Reddy", "USA", 150000),
(3, "Jhansi", "Reddy", "Canada", 150000),
(4, "ZZZ", "Reddy", "India", 200000),
(5, "YYY", "Reddy", "USA", 350000),
(6, "XXX", "Reddy", "Canada", 450000);
"""

In [13]:
DML_2_py.execute(insrt_vals)

('employee_id', b'int', 'YES', '', None, '')
('first_name', b'varchar(20)', 'YES', '', None, '')
('last_name', b'varchar(20)', 'YES', '', None, '')
('country', b'varchar(20)', 'YES', '', None, '')
('salary', b'int', 'YES', '', None, '')

In [14]:
DML_2_py.execute("SELECT * FROM employees;")
myresult = DML_2_py.fetchall()
for row in myresult:
    print(row)

(1, 'Vikram', 'Reddy', 'India', 100000)
(2, 'Manji', 'Reddy', 'USA', 150000)
(3, 'Jhansi', 'Reddy', 'Canada', 150000)
(4, 'ZZZ', 'Reddy', 'India', 200000)
(5, 'YYY', 'Reddy', 'USA', 350000)
(6, 'XXX', 'Reddy', 'Canada', 450000)

#### UPDATE

In [15]:
DML_2_py.execute("UPDATE employees SET first_name = 'Jinna', last_name = 'Bhai' WHERE employee_id = 1;")   
DML_database_2_py.commit()

print(DML_2_py.rowcount, "record(s) affected")

1 record(s) affected

In [17]:
DML_2_py.execute("SELECT * FROM employees;")
myresult = DML_2_py.fetchall()
for row in myresult:
    print(row)

(1, 'Jinna', 'Bhai', 'India', 100000)
(2, 'Manji', 'Reddy', 'USA', 150000)
(3, 'Jhansi', 'Reddy', 'Canada', 150000)
(4, 'ZZZ', 'Reddy', 'India', 200000)
(5, 'YYY', 'Reddy', 'USA', 350000)
(6, 'XXX', 'Reddy', 'Canada', 450000)

#### DELETE

In [20]:
DML_2_py.execute("DELETE FROM employees WHERE employee_id = 4;")   
DML_2_py.execute("DELETE FROM employees WHERE employee_id = 6;")   
DML_database_2_py.commit()

print(DML_2_py.rowcount, "record(s) affected")

1 record(s) affected

In [21]:
DML_2_py.execute("SELECT * FROM employees;")
myresult = DML_2_py.fetchall()
for row in myresult:
    print(row)

(1, 'Jinna', 'Bhai', 'India', 100000)
(2, 'Manji', 'Reddy', 'USA', 150000)
(3, 'Jhansi', 'Reddy', 'Canada', 150000)
(5, 'YYY', 'Reddy', 'USA', 350000)